{% extends 'base.html' %}



{% block content %}
    <div class="container-fluid">
        <h1>A Nossa História</h1>
    <p>
        ​Fundada a mais de 20 anos, reabrimos as portas no dia 07 de Dezembro de 2013, como pertença da Josened LDA,
        uma empresa de direito angolano com o intuito de contribuir para a difusão de informações e conhecimentos,
        para o aumento e melhoria da produtividade e efectividade das organizações e da qualidade de vida das pessoas através dos livros.
    </p>
    <p>
        Localização das Livrarias Barquinho A Livraria Barquinho está localizada em Luanda, Travessa Comandante Gika, 255, Alvalade.
        atrás das bombas de combustível da Sonangol logo de frente a Radio Nacional. A segunda Livraria Barquinho esta no Morro Bento II,
        rua do Kikagil, 500m após a optica
    </p>
    <p>
        Horário de funcionamento Estamos abertos para si de Segunda á Sexta-feira, das 08 às 18:30. E aos sábados das 08:30 às 13 horas.
        É normal que as actividades laborais no decorrer da semana dificultem a sua visita as nossas instalações, e é exatamente pensando
        nisso que estamos abertos aos sábados até as 13 horas.
    </p>
    <p>
        Através das nossas redes sociais: Facebook, Instagram, Twitter, ou pelo contacto telefónico: +244 940 936 398,
        você poderá saber se temos em loja o livro que tanto procura. E melhor ainda, você já pode fazer a sua reserva também!
    </p>
    </div>
{% endblock %}