{% extends 'base.html' %}
{% load custom_filters %}

    {% block side_bar %}
    <ul class="list-group">
        {% for categories in category %}
            <li class="list-group-item"><a href="#">{{ categories.name }}</a> </li>
        {% endfor %}
    </ul>
    {% endblock%}

 {% block main_content %}
            <div class="row text-center">
                {% for book in books %}
                    <div class="col-sm-3">
                    <div class="thumbnail">
                        {% load static %}
                        <img src="{% static 'livraria_app/image/books/' %}{{ book.cover.name | filename }}" class="img-responsive"
                             alt="{{ book.title | lower }}" style="width: 200px; height: 300px;">
                        <p><strong>{{ book.title | lower }}</strong></p>
                        {% for author in book.authors.all %}
                            <a href="{% url 'author-detail' author.pk %}">{{ author }}</a>
                        {% endfor %}

                        {% if book.in_promotion %}
                        <p>{{ book.promotion_price }} <s>{{ book.price }}</s></p>
                        {% else %}
                            <p>{{ book.price }}</p>
                        {% endif %}
                    </div>
                </div> <!-- col-sm-4 -->
                {% endfor %}
            </div> <!-- row text-center -->
  {% endblock %}
